#main {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    rgb(56, 110, 225),
    rgb(20, 90, 222),
    rgb(20, 90, 222),
    rgb(33, 49, 194)
  );
}

#reset {
  height: 5%;
  width: 100%;
  background-color: rgb(255, 123, 0);
  color: black;
  font-size: 1.5rem;
  position: absolute;
}
